/* --------------------------
   Base and Reset Styles
-------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* --------------------------
   Typography
-------------------------- */
h1,
h2,
p,
li,
footer {
  color: #02134d;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  border-radius: 5px;
}

/* --------------------------
   Header & Banner
-------------------------- */

.header {
  border-radius: 10px;
  background-size: 100% auto;
  width: 100%;
  overflow: hidden;
}

.navbar-brand,
.nav-link {
  color: #02134d;
  text-shadow: none;
}

.banner {
  position: relative;
  text-align: center;
  background-image: url('../media/images/Moon-City-Lamp.png');
  background-size: cover;
  background-position: center;  
  height: 800px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(31, 30, 30, 0.533);
  pointer-events: none;
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e0e0e0;
  font-size: 60px;
}

.banner p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  color: #e0e0e0;
  text-align: center;
  font-weight: bold;
}

/* --------------------------
   Dark Mode Styles
-------------------------- */

.dark-mode {
  background-color: #0a0a0a;
  transition: all 0.4s ease-in;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode li,
.dark-mode footer {
  color: #e0e0e0;
}

body.dark-mode .navbar-toggler-icon {
  filter: invert(1);
}

body.dark-mode .navbar-brand,
body.dark-mode .nav-link,
body.dark-mode .banner h1,
body.dark-mode .banner p,
body.dark-mode .footer-link ion-icon,
body.dark-mode .footer__content  {
  color: #e0e0e0;
}

.dark-mode .card {
  background-color: #333;
  color: #f0f0f0;
}

.dark-mode .card-title,
.dark-mode .card-text {
  color: #f0f0f0;
}

.dark-mode .btn-primary {
  background-color: #0066cc;
  border-color: #0055bb;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}


.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2dfdf;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}


.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: rgb(17, 16, 16);
  transition: 0.4s;
  border-radius: 50%;
}


input:checked+.slider {
  background-color: #5b5a5c;
}


input:focus+.slider {
  box-shadow: 0 0 2px #0c0c0c;
}


input:checked+.slider:before {
  transform: translateX(1.63rem);
}

/* --------------------------
   Fade and Slide Animations
-------------------------- */

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  text-align: center;
}

.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
}

/* --------------------------
   Layout & Grid
-------------------------- */

.grid-container {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 30%;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 1px;
  justify-items: center;
  max-width: 90%;
  margin: 0 auto;
}

/* --------------------------
   Sortable List
-------------------------- */
main.table {
  width: 82vw;
  height: 90vh;
  background-color: rgba(0, 0, 255, 0.2);

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: rgba(236, 232, 232, 0.333);
  padding: 0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: rgba(206, 205, 205, 0.733);

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 50px;
  height: 50px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}

.status {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.beginner {
  background-color: #86e49d;
  color: #006b21;
}

.status.expert {
  background-color: #d893a3;
  color: #b30021;
}

.status.intermediate {
  background-color: #ebc474;
}

.status.advanced {
  background-color: #6fcaea;
}


@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  
  text-align: center;
  font-size: 1rem;
  
  margin-left: .5rem;
  transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
  border: 1.4px solid #6c00bd;
}

thead th:hover {
  color: #6c00bd;
}

thead th.active span.icon-arrow{
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow{
  transform: rotate(180deg);
}

thead th.active,tbody td.active {
  color: #6c00bd;
}

/* --------------------------
   Decorative Elements
-------------------------- */
.bordered {
  text-indent: 2.0em;
  border-style: outset;
  display: table;
  margin: 0px auto 20px auto;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.2);
  color: rgb(17, 16, 16);
}


/* --------------------------
   Contact Form Styles
-------------------------- */

.container form {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.bordered-section {
  width: 90%;
  height: 60vh;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.2);
  resize: auto;
  overflow-wrap: break-word;
  column-count: initial !important;
  writing-mode: horizontal-tb !important;
  box-sizing: border-box;
  border-style: solid;
}



.inputBox {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.inputBox input[type="text"],
.inputBox input[type="email"] {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 10px;
  font-size: 16px;
  color: #444;
}

.inputBox textarea {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 10px;
  font-size: 16px;
  color: #444;
}

.inputBox button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: rgb(0, 119, 255);
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

}

.inputBox button:hover {
  background: rgb(0, 17, 255);
  transition: all 0.3s ease;
}

::placeholder {
  font-size: 16px;
}

.alert {
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}



/* --------------------------
   Media Queries
-------------------------- */

/* For mobile devices */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
}

/*Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
  //styles
}

/*Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  //styles

}

/* For tablets and small laptops */
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 48px;
    font-size: 36px;
  }
}

/*Desktops*/
@media only screen and (min-width: 1200px) and (max-width: 1199px) {
  //styles
}

/*Extra large screens */
@media (min-width: 1920px) {
  //styless
}

/* --------------------------
   Footer
-------------------------- */
.footer-links {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  margin: 0 10px;
  padding: 10px;
}

.footer-link {
  width: auto;
  height: 50px;
  transition: all 0.3s ease-in-out;
  color: #0e0e10;
  margin: 0 10px;
  padding: 10px;
}

.footer-link:hover {
  opacity: 0.5;
}

.footer__content {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;

  color: #02134d;
}