header {
  border-radius: 10px;
  background-size: 100% auto;
  width: 100%;
  overflow: hidden;
}

.header-p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #BAFDFD;
  background-color: rgba(135, 206, 250, 0.1); 
  padding: 10px;
  display: inline-block;
}
.navbar-brand, .nav-link {
  color: blue !important;
  text-shadow: none !important;
}


h2 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

p, li, footer h3 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

p:not(.header-p):not(.footer-p) {
  display: table; /* keep the background color wrapped tight */
  margin: 0px auto 20px auto; /* keep the table centered */
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.6); /* Background color with 50% opacity */
  color: honeydew;
}

.bordered {
  text-indent: 2.0em; /* Added indentation */
  border-style: outset;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 30%;
}

.grid-container-left,
.grid-container-right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 1px;
  align-items: center;
  justify-items: center;
  width: 50%;
  margin: 0 100px;
}

.rounded {
  border-radius: 10px;
}

.bordered-section {
  border: 1px solid #BAFDFD; /* Change the color and width as needed */
  border-radius: 5px;
  gap: 10px;
  align-items: center;
  justify-items: center;
  padding: 5px;
  width: 20%;
  margin: 0 auto;
  border-style: outset;
  background-color: rgba(0, 0, 255, 0.2); /* Background color with 50% opacity */
}

.form-container {
        color: #e6f7ff;
        text-shadow: 2px 2px #000000;
        font-size: 18px;
      }
.footer-p {  
  background-color: transparent; 
}

.icon-img {
  width: auto;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.icon-img:hover {
  opacity: 0.5;
}

.footer__content {
  font: size 10px;px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #BAFDFD;

}

/* For tablets and small laptops */
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }
  
  .header-p {
    line-height: 1.4;
  }
  
  p, li, footer h3 {
    line-height: 1.7;
  }
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
  
  .header-p {
    line-height: 1.3;
  }
  
  p, li, footer h3 {
    line-height: 1.5;
  }
}

.footer-p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-link {
  margin: 0 10px;
}


@media only screen and (max-width: 600px) {
  .footer-link {
    margin: 5px;
  }
}

.footer-link {
  margin: 0 10px;
  padding: 10px;
}

html {
  scroll-behavior: smooth;
}
